<div class="page-container ">
<section class="almost-black index-hero-section">
<section class="hero is-large is-bold margin almost-black center-text index-hero">
  <div class="hero-body">
    <div class="container" id="title-container">
      <h1 class="title large-title">
        Latest music events: London
      </h1>
      <h2 class="subtitle">
        <!-- Never miss your favourite artists live, check out their top tracks and add  your friends. -->
      </h2>
    </div>
  </div>
</section>

<!-- <section class="hero is-medium white is-bold margin"> -->
  <div class="columns icon-col-height">

    <div class="column center-text">
      <figure class="image icons">
        <img class="icons" src="../images/33232-200.png">
      </figure>
      <h1 class="title icon-text sub-font-size center-text">
        See your favourite artists live
      </h1>
    </div>

    <div class="column center-text">
      <figure class="image icons">
      <img class="icons" src="../images/spotify.png">
      </figure>
      <h2 class="title icon-text sub-font-size center-text">
        Check out their top tracks with spotify
      </h2>
    </div>

    <div class="column center-text">
      <figure class="image icons">
      <img class="icons" src="../images/black_logo.png">
      </figure>
      <h1 class="title icon-text sub-font-size center-text">
        Share with your friends & Create group events
      </h1>
    </div>

</div>

</section>
<!-- </section> -->

<!-- <section class="hero is-primary margin">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Primary title
      </h1>
      <h2 class="subtitle">
        Primary subtitle
      </h2>
    </div>
  </div>
</section>
Copy -->

<!-- <section class="hero is-medium is-bold no-margin ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Latest music events: London
      </h1>
      <h2 class="subtitle">
        Never miss your favourite artists live, check out their top tracks and add  your friends.
      </h2>
    </div>
  </div>
</section> -->

<div class="columns is-multiline">
  <div class="column is-one-third reduce-padding" ui-sref="eventsShow({ id: event.id })" ng-repeat="event in vm.events track by $index">
    <div class="card _card animated zoomIn">
      <div class="card-content">
        <div class="media is-marginless">
          <div class="media-content">
            <p class="title is-4">{{ event.name | limitTo : 28 : begin}}</p>
            <p class="subtitle is-6">@{{ event._embedded.venues[0].name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
