
<h1>{{ vm.event.name }} @ {{ vm.event._embedded.venues[0].name }}</h1>
<img height="290px" width="500px" ng-src="{{ vm.event.image }}" alt="{{ vm.event.name }}'s image">


<p>{{ vm.event.description}}</p>
<ng-map zoom="16" center="{{ vm.event.latlon}}">
    <marker position="{{ vm.event.latlon }}"
      title="You are here"
      animation="Animation.BOUNCE"
      centered="true"></marker>
  </ng-map>


<button ui-sref="groupsNew({ id: vm.event.id })" class="btn btn-success">Create group for {{ vm.event.name }}</button>

<h2>Groups</h2>
<ul ng-repeat="group in vm.groups">
  <li>{{ group.name }}  <button ui-sref="groupShow" ng-submit="vm.submit(vm.member)">Join group</button></li>
</ul>



<h2>Comments</h2>
<form ng-submit="vm.createComment()">
  <div class="form-group">
    <label for="comment">Comment</label>
    <input ng-model="vm.comment.content" type="text" class="form-control" name="comment" id="comment">
  </div>
  <button class="btn btn-success">POST</button>
</form>
{{ vm.comment }}

<ul>
  <li ng-repeat="comment in vm.event.comments | orderBy:'-'">
    <p>{{ comment.content }}</p>
    <p>Comment by {{ comment.createdBy.username }}</p>
    <button ng-click="vm.delete(comment)" class="btn btn-danger"name="delete" >DELETE</button>
  </li>
</ul>
