<div class="container">
  <h1 class="create">Create your group</h1>
  <div class="groupform">
    <form ng-submit="vm.submitForm()">
      <div class="field">
        <label class="name">Group Name</label>
        <div class="control">
          <input type="text" name="name" ng-model="vm.group.name" placeholder="Whatever you like in here">
        </div>
      </div>
      <div class="field">
        <label class="name">Picture</label>
        <div class="control">
          <input type="text" name="image" ng-model="vm.group.image" placeholder="Image link in here">
        </div>
      </div>
      <a class="button">Create Group</a>
    </form>
  </div>
</div>
