<h1>Group show page</h1>

<!-- <h1>{{ vm.event.name }} @ {{ vm.event._embedded.venues[0].name }}</h1>
<h3><a href="{{ vm.event.url }}" target="_blank" >{{ vm.event.name }}</a></h3>
<img height="290px" width="500px" ng-src="{{ vm.event.images[0].url }}" alt="{{ vm.event.name }}'s image">


<p>{{ vm.event.description}}</p>
<ng-map zoom="16" center="lat: {{ vm.event._embedded.venues[0].location.latitude }}, lng: {{ vm.event._embedded.venues[0].location.longitude }}">

    <marker position="lat: {{ vm.event._embedded.venues[0].location.latitude }}, lng: {{ vm.event._embedded.venues[0].location.longitude }}"
      title="You are here"
      animation="Animation.BOUNCE"
      centered="true"></marker>
  </ng-map> -->



<h2>Comments</h2>
<form ng-submit="vm.createComment()">
  <div class="form-group">
    <label for="comment">Comment</label>
    <input ng-model="vm.comment.content" type="text" class="form-control" name="content" id="comment">
  </div>
  <button class="btn btn-success">POST</button>
</form>

<ul>
  <li ng-repeat="comment in vm.group.comments | orderBy:'-'">
    <p>{{ comment.content }}</p>
    <p>Comment by {{ vm.group.createdBy.name }}</p>
    <button ng-click="vm.delete(comment)" class="btn btn-danger"name="delete" >DELETE</button>
  </li>
</ul>
