<h1>WDI-30-STUDENTS</h1>

<div uib-carousel active="vm.active" interval="vm.myInterval" no-wrap="vm.noWrapSlides">
   <div uib-slide ng-repeat="member in vm.members track by $index" index="$index">
     <img ng-src="{{ member.image }}" style="margin:auto;" width="800px">
     <div class="carousel-caption">
       <h4><a ui-sref="membersShow({id: member.id})">{{ member.name }}</a></h4>
     </div>
   </div>
</div>


<!-- <slick init-onload=true data="vm.members">
  <div uib-slide ng-repeat="member in vm.members track by $index" index="$index">
    <img ng-src="{{ member.image }}" style="margin:auto;" width="800px">
    <div class="carousel-caption">
      <h4><a ui-sref="membersShow({id: member._id})">{{ member.name }}</a></h4>
      <p>{{ $index }}</p>
    </div>
  </div>
</slick> -->
