<!DOCTYPE html>
<html ng-app="wdi-project-3">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gig App</title>
  <base href="/" />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOKG8Nx-zih8c_tKS8hYisxlnevauh4GM"></script>
  <link href="https://fonts.googleapis.com/css?family=Asap+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400i,500,600,700,800" rel="stylesheet">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body id="heroimage" ng-controller="MainCtrl as main">
  <body ng-controller="MainCtrl as main">
    <div ng-controller="MainCtrl">
      <nav class="navbar _navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" ui-sref="eventsIndex">LOGO</a>
          <button class="button navbar-burger" ng-click="main.toggle = !main.toggle" ng-class="{ 'is-active': main.toggle }">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="navbar-menu" ng-class="{ 'is-active': main.toggle }">
          <div class="navbar-end">
            <a class="navbar-item" ui-sref="register">Register</a>
            <a class="navbar-item" ui-sref="login">Login</a>
            <a class="navbar-item" href="#" ng-click="main.logout()">Logout</a>
          </div>
        </div>
      </nav>
    </div>
    <main class="container" ui-view></main>
  </body>
  </html>
