
.eventheader {
  margin-top: 0px;
  color: black;
  padding: 0 10px;
  text-align: center;
  font-size: 50px;
  font-weight: 100;
}

.eventname {
  font-weight: bold;
}

//
//
// #heroimage {
//   background: url('http://i.picresize.com/czw3') no-repeat center center fixed;
//   background-size: cover;
//   background-attachment: fixed;
//   height: 2000px;
// }
