
.index-hero {
  height: 100%;
  width: 100%;
}

.icons {
  height: 50px;
  width: 50px;
  margin: 30px auto;
}

.icon-text {
  color: white;
  font-weight: normal;
  
}

.icon-col-height {
  margin: 50px;
}

.eventheader {
  margin-top: 0px;
  color: black;
  padding: 0 10px;
  text-align: center;
  font-size: 50px;
  font-weight: 100;
}

.eventname {
  font-weight: bold;
}

.margin {
  margin: 20px 0px
}
