.event-show-title {
  margin-bottom: 20px;
}

.showText {
  float: right;
  width: 60%;
}

#header {
  padding: 20px;
  text-align: left;
}

.showBlurb {
  width: 48%;
  float: right;
  text-align: left;
  margin: 15px 30px 10px 10px;
}

.showPadding {
  padding: 20px;
  height: 900px;
  width: 900px;

}
.showCard {
  margin: 0 auto;
  width: 815px;
  height: 650px;
  background-color: white;
}
.showImage {
  padding: 2%;
  margin-left: 5.33%;

  width: 40%;
  height: 32%;
}

// .groupBar {
//   background-color: #282c34;
//   margin: 12px 0;
//   height: 11.5%;
// }

.groupImg {
margin: 15px;
padding: 20px;
}

// .groupImgs {
//
// width: 80%;
// padding: 0 35px;
// }
#center {
    position:fixed; /* change this to fixed */
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    background:#fff;
}

.spotMap {
  height: 50%;
}

.gMap {
  width: 50%;
  height: 100%;
}

.spot {
  width: 48%;
  float: right;
  text-align: left;
  margin: 10px 30px 10px 10px;
}

#showHeader {
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
  padding: 2% 0 0 7.5%;
  height: 8.5%;
  width: 100%;
  color: #282c34;
}

.almost-black {
  background-color: $almost-black;
}

.event-page-tracks {
  width: 100%;
}


.gMapShow {
  width: 100%;
  height: 432px;
  padding: 0;
  margin: 0 auto;
}


/////////////////////////////////////////////////////////////////////////
// .showText {
//   float: right;
//   width: 60%;
// }
//
// #header {
//   padding: 20px;
//   text-align: left;
// }
//
// .showBlurb {
//   width: 48%;
//   float: right;
//   text-align: left;
//   margin: 15px 30px 10px 10px;
// }
//
// .showPadding {
//   padding: 20px;
//   height: 900px;
//   width: 900px;
//
// }
// .showCard {
//   margin: 0 auto;
//   width: 815px;
//   height: 650px;
//   background-color: white;
// }
// .showImage {
//   padding: 2%;
//   margin-left: 5.33%;
//
//   width: 40%;
//   height: 32%;
// }
//
// .groupBar {
//   background-color: #282c34;
//   margin: 12px 0;
//   height: 11.5%;
// }
//
// .groupImg {
// margin: 15px;
// padding: 20px;
// }
//
// .groupImgs {
//
// width: 80%;
// padding: 0 35px;
// }
// #center {
//     position:fixed; /* change this to fixed */
//     top: 50%;
//     left: 50%;
//     margin-top: -50px;
//     margin-left: -50px;
//     width: 100px;
//     height: 100px;
//     background:#fff;
// }
//
// .spotMap {
//   height: 50%;
// }
//
// .gMap {
//   width: 50%;
//   height: 100%;
// }
//
// .spot {
//   width: 48%;
//   float: right;
//   text-align: left;
//   margin: 10px 30px 10px 10px;
// }
//
// #showHeader {
//   font-size: 20px;
//   text-align: left;
//   margin-top: 10px;
//   padding: 2% 0 0 7.5%;
//   height: 8.5%;
//   width: 100%;
//   color: #282c34;
// }
