.showText {
  float: right;
  width: 60%;
}

#header {
  padding: 20px;
  text-align: left;
}

.showBlurb {
  width: 48%;
  float: right;
  text-align: left;
  margin: 10px 30px 10px 10px;
}

.showPadding {
  padding: 20px;
  height: 900px;
  width: 900px;

}
.showCard {
  margin: 0 auto;
  width: 815px;
  height: 650px;
  background-color: white;
}
.showImage {
  padding: 2%;
  margin-left: 5.33%;

  width: 40%;
  height: 32%;
}

.groupBar {
  background-color: #282c34;
  height: 10%;
}

.spotMap {
  height: 50%;
}

.gMap {
  width: 50%;
  height: 100%;
}

.spot {
  width: 48%;
  float: right;
  text-align: left;
  margin: 10px 30px 10px 10px;
}

.showHeader {
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
  padding: 5% 6.5%;
  height: 8.5%;
  width: 100%;
  color: green;
}
