// .showpage {
//   background-color: $almost-black;
// }

.showCard {
  width: 100%;
  background-color: white;
}

.show-header {
  text-align: center;
}

.hr {
  color: #84bd00;
}

.event-image {
  margin-top: 6px;
}

.leftColmn {
   background-color: $almost-black;
   padding: 10px;
}

.inner-left-colmn {
  background-color: $almost-black;
  padding: 10px;
}

.gMap {
    width: 100%;
    height: 432px;
}
