.showpage {
  // background-color: $almost-black;
  height: 1100px;
}

.showCardTemp {
  width: 100%;
  background-color: $almost-black;
}

.showCard-group{
  width: 100%;
}

.show-header {
  text-align: center;
}

.hr {
  color: #84bd00;
}

.event-image {
  margin-top: 6px;
}

.leftColmn {
   background-color: $almost-black;
   padding: 10px;
}

.inner-left-colmn {
  background-color: $almost-black;
  padding: 10px;
  height: 1200px;
}

.gMapShow {
    width: 100%;
    height: 432px;
    padding: 0;
    margin: 0 auto;
}

#gmap-group {
  height: 400px;
  width: 100%;
  margin: 20px auto;
}

.tracks {
  background-color: $almost-black;
  padding: 0;
  margin: 0;
}

.tracks-ul {
  // background-color: red;
}

.column-right {
  padding-top: 0;
  padding-bottom: 0;
}
