html {
  // background: #0C0C0C;
  background: #151515;
  // background: white;
  height: 100%;
  // width: 50%;
}

body {
  margin-bottom: 2rem;
  // width: 50%;
  height: 100%;

  &.top-image {
    background: url(http://i.picresize.com/images/2017/11/16/wSctO.jpg) no-repeat top center;
  }
}

a {
  color: $spotify-green;
}
