.welcome {
  h1 {
    font-size: 200px;
    color: black;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.25);
  }
}

#heroimage {
  background: url('https://i.imgur.com/sAMyBXh.jpg') no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;

}
