.welcome {
  display: block;
  margin-left: 25%;

  h1 {
    font-size: 180px;
    color: black;
    margin-top: 4rem;
    text-shadow: 5px 5px 9px rgba(255, 255, 255, 0.25);
  }
}

#register-page {
  // background-color: blue;
}

#heroimage {
  // background: url('../images/kegan2.png') no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}

div.home-image-wallpaper {
  background-image: url("../images/background.jpg");
  background-image: url("../images/kegan2.png");
  position:fixed;
  background-size: cover;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  // z-index: 1;
}

div.buttons {
  margin-left: 10%;
}
