.welcome {
  h1 {
    font-size: 180px;
    color: black;
    margin-top: 4rem;
    text-shadow: 5px 5px 9px rgba(255, 255, 255, 0.25);
  }
}

#heroimage {
  // background: url('../images/kegan2.png') no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}
