@import "variables";
@import "structure";
@import "cards";
@import "navbar";
@import "show.event";
@import "new.group";
@import "comments";
@import "show.group";
@import "eventindex";
@import "welcome";

body {
  // font-family: 'Asap Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
  //  background-image: linear-gradient(#cc2b5e, #cc2b5e);
}

button, input {
  background: transparent;
  border: none;
}

h1 {
  // font-family: robotto;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-size: 40px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  color: white;
}

.google-map {
  height: 70%;
  width: 70%;
  margin: 40px auto;
}



.box {
  .spotify-button {
    background: $spotify-green !important;
  }

  .button {
    width: 100%;
  }
}

.button {
  background: $spotify-green !important;
}
